.slider {
    background-color: $white;
    width: 100%;
    overflow: hidden;
    
}

.slider__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:150px 0 130px 0 ;
    position: relative;

    @include breakpoint ($tablet) {
        padding-bottom: 100px;
        padding-top: 82px;
    }
}

.slider__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;

    @include breakpoint ($tablet) {
     margin-bottom: 30px;
    }

}

.slider__btn {
    padding: 15px 30px 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: $white;
    background-color: $blue;
    border: none;
    border-radius: 100px;
    max-width: 209px;
    max-height:50px ;
    white-space: nowrap;
    cursor: pointer;
    transition: all $trans-btn;

    &:hover {
        background-color:$blue-dark;
        box-shadow: 0 0 50px 2px rgba($black, 0.15);
    }
    @include breakpoint ($tablet) {
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        padding: 12px 20px;
 
    }
  
    @include breakpoint ($mobile) {
       display: none;
    }

    &--two {
        display: none;

        @include breakpoint ($mobile) {
            display: block;
         }
    }
  

}

.slider__sub-heading {
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    color: $black;
    margin-bottom: 30px;

    @include breakpoint ($tablet) {
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
    }
    @include breakpoint ($mobile) {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 19px;
    }
}

.slider__swiper {
    position: relative;
}

.swiper {
    width: 100%;
    position: relative;
    overflow: visible;
    clip-path: inset( -100vw -100vw -100vw 0 );

    @include breakpoint ($tablet) {
        overflow: hidden;
    }
    
}

.swiper-wrapper {
    @include breakpoint ($tablet) {
        margin-bottom: 40px;
    }
    @include breakpoint ($mobile) {
        margin-bottom: 19px;
    }
}

.swiper-slide {
    max-height:494px ;
    opacity: 1;
    display: flex;
    flex-direction: column;
    @include breakpoint ($tablet) {
        max-width: 310px;
        max-height: 524px;
    }
    @include breakpoint ($mobile) {
        max-width: 180px;
        max-height: 304px;
        
    }

}

.swiper-slide:not(.swiper-slide-visible){
    max-height:494px ;
    display: flex;
    flex-direction: column;
    opacity: .4;
}



.swiper-slide__img {
    border-radius: 10px;
    margin-bottom: 20px;

    @include breakpoint ($mobile) {
        margin-bottom: 10px;
        height: 230px;
    }

}


.swiper-slide__name {
    color: $black;
    font-weight: 500;
    font-size: 23px;
    line-height: 130%;
    margin-bottom: 2px;

    @include breakpoint ($mobile) {
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
    }
}

.swiper-slide__position {
    color: $black;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;

    @include breakpoint ($mobile) {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
    }
}


.swiper-arrows{
  position: absolute;
  right:0% ;
  bottom: -21%;
  display: flex;
  gap: 20px;

  @include breakpoint ($tablet) {
   position: relative;
   align-self: center;
   left: 37%;
  }
  @include breakpoint ($mobile) {
left: 0;
margin-bottom: 20px;
}

}

.swiper__prev-btn {
border: 1px solid $med-grey;
background-color: transparent;
border-radius: 50%;
width: 80px;
height: 80px;
cursor: pointer;

@include breakpoint ($mobile) {
        width: 60px;
        height: 60px;
    }
}

.prev {
    font-size:25px ;
    color: $blue;
    
}

.swiper__next-btn {
    border: 1px solid $med-grey;
    background-color: transparent;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;

    @include breakpoint ($mobile) {
        width: 60px;
        height: 60px;
    }

}

 .next {
    font-size:25px ;
    color: $blue;
 }

.swiper-button-disabled {
    opacity: .4;
}