.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: $white;
    background-color: $blue;
    padding:13px 30px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all $trans-btn;

    &:hover {
        background-color:$blue-dark;
        box-shadow: 0 0 50px 2px rgba($black, 0.15);
    }
}