$mukta-family: "Mukta", sans-serif;

$white: #fff;
$black: #000;
$blue: #304ffe;
$blue-dark: #1739fe;
$silver:#9B9DA5;
$light-grey: #F1F3F6;
$text:#4C4C51;
$med-grey:#C4C4C4;



$trans-btn: .3s ease-in; 
$trans-links: .4s ease-in;
$trans-one:1s ease-out;
$trans-two:.7s ease-out;


$tablet: 1199px;
$mobile: 767px;


